body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #424242;
}

.container-apresentacao{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.apresentacao {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

#canvas-container {
    background-color: #ffffffcc;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
    height: 620px;
    width: 820px;
    
}
canvas{
    margin: 0;
    border-radius: 15px;
}

.palco-p5 {
    position: relative;
    width: 820px;
    height: 620px;
}

main {
    margin: 0;
    padding: 0;
    
}

main:empty {
    display: none;
}

.bemvindo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.326);
}


 /* cortinas */

#cortina-camada {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 9999;
    pointer-events: none;
    overflow: hidden;
    border-radius: 15px;

    opacity: 1;
    visibility: visible;
    transition: opacity 0.8s ease, visibility 0.8s ease;
}


#cortina-camada.sumir {
    opacity: 0;
    visibility: hidden;
}


.cortina {
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, #5e0012, #a0001c);
    position: relative;
    overflow: hidden;
}

.cortina::before {
    content: "";
    position: absolute;
    inset: 0;
    background: repeating-linear-gradient(
        90deg,
        rgba(255,255,255,0.08) 0px,
        rgba(255,255,255,0.02) 12px,
        rgba(0,0,0,0.10) 24px
    );
    mix-blend-mode: multiply;
}

.cortina-esquerda {
    box-shadow: inset -10px 0 20px rgba(0,0,0,0.35);
    transform: translateX(0);
}

.cortina-direita {
    box-shadow: inset 10px 0 20px rgba(0,0,0,0.35);
    transform: translateX(0);
}

.abrir .cortina-esquerda {
    animation: abriresquerda 2s ease-in-out forwards;
}

.abrir .cortina-direita {
    animation: abriredireita 2s ease-in-out forwards;
}

@keyframes abriresquerda {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes abriredireita {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}
